:root{
  --drop_shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

#root{
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  background-image: url("../../assets/wall.webp");
  filter:var(--drop_shadow);
  width: 30rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

}

hr {
  height: 1px;
  width: 100%;
  background-color: black;
  border: black;
}