.item{
    width: 15rem;
    height: 5rem;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    background-color: blueviolet;
    margin-bottom: 1rem;

    .itemName{
        margin: 0;
        display: block;
        width: 10rem;
    }

    .itemPrice{
        margin: 0;
        display: block;

    }

    .itemQuantity {
        margin: 0;
        width: 3rem;
        height:3rem;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(43, 98, 226);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
    }
}
#itemList{
    width:  20rem;
    height: 20rem;
    overflow-y: scroll;
    list-style: none;
    background-color: rgb(101, 59, 179);
    margin: 0;
    padding: 0;
    padding-top: 1rem;
    

}
