.item{
    cursor: pointer;
}
.selected{
    background-color: var(--selected-color);

    td {
        border-color:  var(--selected-color);
    }
  }

#itemTableHolder{
    max-height: 50%;
     
    h1 {
        margin-top: 0;
    }
}

#itemsTable {


    border-spacing: 0;

    td {
        padding: 2px;
    }

    th.Quantity, th.Price, th.Total{
        width: 15%;
    }
    th.Name {
        width: 45%;
        text-align: left;
    }

    td:not(.Name) {
        text-align: center;
    }

}

