
.action{
    background-color: var(--primary-color);
    padding: 1rem;
    width: 10rem;
    text-align: center;
    font-weight: 600;
    border: 1px solid black;
    filter: var(--drop_shadow);
    cursor: pointer;
}
